* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    background-color: #F1F4F8;
    width: 100%;
    height: 845px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    position: relative;
}

.text-container {
    flex-basis: 30%;
}

.text-container>h1 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px;
    color: black;
}

.text-container>p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 18px;
    color: rgb(100 116 139);
    line-height: 1.6;
}

.text-container a button {
    font-size: 14px;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 12px;
    border: white solid transparent;
    outline: 2px solid transparent;
    outline-offset: 1px;
    cursor: pointer;
}

.text-container .hero-section-btn-active {
    color: white;
    background: #4E47E5;
}

.text-container .hero-section-btn {
    color: rgb(100 116 139);
    background: white;
    outline: 1px solid #00000024;
    outline-offset: 2px;
}

.image-container {
    flex-basis: 30%;
}

.image-container img {
    max-width: 100vw;
    height: 50vh;
}

.image-container1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 305px;
    height: 132px;
    z-index: 1;
    border-radius: 20px;
    right: 545px;
    bottom: 58px;
    padding: 10px;
    outline: 1px solid #00000024;
    outline-offset: 1px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.image-container1 .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.image-container1 .text h4 {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.image-container1 .text h3 {
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

.mentor-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
}

.mentor-img img {
    width: 60px;
    border-radius: 20px;
}

.circle {
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #00000024;
    outline-offset: 1px;
}


.graph {
    left: 723px;
    top: 189px;
    width: 60px;
    height: 60px;
    font-size: 28px;
}

.rocket {
    right: 713px;
    top: 287px;
    width: 45px;
    height: 45px;
    font-size: 20px;
}

.bulb {
    right: 557px;
    top: 105px;
    width: 70px;
    height: 70px;
    font-size: 55px;
}

.graduate-hat {
    right: 130px;
    bottom: 58px;
    width: 60px;
    height: 60px;
    font-size: 35px;
}

/* @media screen and (max-width: 768px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-container{
        top: 50px;
    }
}  */