.mentor-card {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px #b3b3b3;
    overflow: hidden;
  }
  
  .mentor-card__photo {
    width: 15%;
    margin-right: 1rem;
  }
  
  .mentor-card__info {
    width: 85%;
  }
  
  .mentor-card__name {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .mentor-card__intern {
    font-size: 1.2rem;
    font-weight: 400;
    color: #8e8e8e;
  }
  
  .mentor-card__status {
    font-size: 1.2rem;
    font-weight: 400;
    color: #8e8e8e;
  }
  
  .mentor-card__description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #8e8e8e;
    margin-top: 1rem;
  }
  
  .mentor-card__social {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .mentor-card__linkedin {
    font-size: 1.2rem;
    font-weight: 400;
    color: #8e8e8e;
  }