.boxx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 10% 8% 10% 8%;
  align-items: center;
  padding: 0px 50px;
}

.text h1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  /* color: rgba(0, 0, 0, 0.54); */
}

.text p {
  font-size: 1.125rem;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.btn .btn1 {
  position: relative;
  /* font-weight:600;
font-size: larger; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  text-decoration: none;
  margin: 0.75rem 0.5rem 0 0;
  background-color: #845ec2;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}

.btn1:hover {
  background-color: #6b21a8;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.btn .btn2 {
  position: relative;
  /* font-weight:600;
    font-size: larger; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  text-decoration: none;
  margin: 0.75rem 0 0 0.35rem;
  background-color: white;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}

.btn2:hover {
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.logo1 {
  position: absolute;
  display: none;
  top: 10.5rem;
  left: 47%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.061);
}

.logo2 {
  position: absolute;
  display: none;
  top: 35%;
  left: 53%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.061);
}

.logo3 {
  position: absolute;
  display: none;
  bottom: 5.5rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.061);
  background-color: #ffffff;
}

.logo4 {
  position: absolute;
  display: none;
  top: 7rem;
  left: 64%;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.061);
}

.mentor {
  position: absolute;
  bottom: 10.5%;
  left: 50%;
  background-color: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text2 h3 {
  font-weight: 500;
  color: #374151;
}

.text2 span {
  font-size: 14px;
  color: #718096;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 48;
  height: 48;
}

.images img {
  object-fit: cover;
  border-radius: 10px;
}
/* Media Queries */
@media screen and (max-width: 1379px) {
  .boxx {
    margin-top: 10%;
    padding: 2%;
  }
  .mentor {
    display: none;
  }
}

@media (max-width: 767px) {
  .boxx {
    grid-template-columns: 1fr;
    margin-top: 26%;
    padding: 0px;
  }

  .text {
    text-align: center;
  }

  .logo4,
  .logo1,
  .logo2,
  .logo3,
  .mentor {
    display: none;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
