.main {
  background-color: var(--base-200);
}
#both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf {
  display: flex;
  /* padding: 30px 0 30px 0; */
  /* flex-wrap: wrap; */
  height: 480px;
  /* margin-right: 15px; */
  padding: 30px 30px 30px 30px;
  background-color: var(--base-100);
  /* width: 650px; */
  font: sans-serif;
  border-radius: 5px;
  border: 2px solid var(--base-300);
}
.flexx {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 20% 4% 20%;
}
.fgroup {
  margin: 3px;
}
/* .csection {
  padding: 10px 50px 50px 62px;
  
} */
.ctitle {
  font-size: 40px;
  margin-left: 18px;
  /* color: rgb(155, 15, 155); */
  background: #845ec2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 20px;
}

/* .ctitle:hover {
  animation: text-glow 1s ease-in-out infinite;
}

@keyframes text-glow {
  0% {
    text-shadow: 0 0 5px #845ec2;
  }

  50% {
    text-shadow: 0 0 10px #845ec2;
  }

  100% {
    text-shadow: 0 0 5px #845ec2;
  }
} */

.contactinfo {
  color: whitesmoke;
  padding: 10px;
}
.contactinfo__icon {
  color: whitesmoke;
  padding-right: 20px;
}
.contactinfo__icon i,
.contactinfo__icon span {
  color: #f4f5f7;
  font-size: 27px;
}
.contactinfo .media_body h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 16px;
  color: whitesmoke;
}
.contactinfo .media_body p {
  color: #f6f2f2;
}
.media_head h3 {
  color: #f6f2f2;
  font-size: 27px;
  margin-top: 30px;
  font-weight: bold;
}

.offsetlg {
  height: 475px;
  /* margin-right: 15px; */
  max-width: fit-content;
  /* margin-left: 200px; */
  color: var(--base-300);
  border-radius: 5px;
  background: #845ec2;
  /* background-color: rgb(192, 84, 255); */
}

.centerr {
  margin-top: 30px;
}

.boxedbtn {
  position: relative;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  border: 1px solid #ec9bbb;
  letter-spacing: 3px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  color: #4f46e5;
}

.boxedbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #4f46e5, #acecf4);
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.boxedbtn:hover::before {
  left: 0;
}

.boxedbtn span {
  position: relative;
  z-index: 2;
  color: #ff6fa8b0 !important;
  transition: color 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(134, 158, 255, 0.542);
}

.boxedbtn:hover span {
  color: var(--base-300) !important;
}

/* Media Queries */
@media screen and (max-width: 1379px) {
  /* .offsetlg {
    margin-left: 90px;
    max-width: 100%;
    margin-top: 0;
  } */

  .flexx {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 10% 4% 10%;
  }
  /* .cf {
    width: 500px;
  }

  .csection {
    padding: 0px;
  } */
}

@media screen and (max-width: 979px) {
  /* .offsetlg {
    margin-right: 0;
    margin-left: 62px;
    width: 300px;
    margin-top: 0;
  }

  .cf {
    width: 500px;
  } */
  .flexx {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 7% 3% 7%;
  }
}

@media screen and (max-width: 816px) {
  .offsetlg {
    /* margin-right: 0;
    margin-left: 0px;
    padding-left: 40px;
    padding-right: 0px;
    width: 750px;
    height: 380px;
    margin-top: 0px; */
    /* width: 100%; */
    max-width: 100%;
  }

  .cf {
    width: 100%;
    margin-left: 1px;
  }
  .flexx {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 1% 7% 3% 7%;
  }
}

@media screen and (max-width: 765px) {
  .cf {
    width: 100%;
    padding: 20px;
    translate: -15px;
  }

  .flexx {
    margin-top: -80px;
    /* margin-left: 5%;
    margin-right: 8%; */
    /* padding: 10px 10px 5px 40px; */
  }

  .offsetlg {
    /* margin-left: -10px;
    margin-right: 0;
    max-width: 100%;
    padding-top: 0;
    margin-top: 0px; */
    translate: -15px;
    padding-left: 25px;
    margin-top: 0px;
  }

  .ctitle {
    font-size: 30px;
  }

  .csection {
    padding: 0px;
  }

  .media_head h3 {
    font-size: 24px;
    margin-top: 20px;
  }

  .boxedbtn {
    margin-left: 15px;
  }
}

@media screen and (max-width: 572px) {
  .cf {
    padding: 10px;
  }

  .ctitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .offsetlg {
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0%;
    padding-left: 20px;
  }

  .media_head h3 {
    font-size: 20px;
    margin-top: 15px;
  }

  .boxedbtn {
    padding: 12px 30px;
    font-size: 12px;
    margin-top: 15px;
  }

  .contactinfo {
    color: var(--base-300);
    padding: 10px;
  }

  .contactinfo__icon {
    color: var(--base-300);
    padding-right: 10px;
  }
}
