html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loaderBackground {
  animation: loader 1s 0.8s forwards;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
}

#preloader-active {
  position: relative;
  animation: loader 1s 0.8s forwards;
  z-index: 100;
}

@keyframes loader {
  10% {
    opacity: 1;
    display: 1;
  }
  50% {
    opacity: 0.5;
    display: 0.5;
  }
  100% {
    opacity: 0;
    display: 0;
  }
}