.menuToggle {
    display: none;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 0;
    right: 50px;
    top: calc(125px / 2);
    cursor: pointer;
  }
  .menuToggle span {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
  }  