.loginOption {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
  gap: 1rem;
  border-radius: 4px;
  transform: translateZ(-50px);
  margin-bottom: 70px;
}

.loginOption a {
  padding: 0 !important;
}
.loginOption button {
  background: none;
  width: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
.loginbutton {
  /* width: fit-content; */
}

.loginOption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateZ(-50px);
}
.loginOption a {
  padding: 0 !important;
  /* color: black; */
}
.loginOption button {
  color: black;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
.loginOption button:hover {
  background-color: #9160ec;
  color: aliceblue;
}

.loginOption .userPicture:hover {
  background-color: transparent;
}
