.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 1px 3rem;
}

.overlayText {
}

.overlayText h1 {
  font-size: 2.5em;
  color: white;
}

.overlayText p {
  color: #fff;
}

.overlayArrow {
  margin-left: 1rem;
  width: 30%;
  max-width: 500px;
  min-width: 200px;
  color: white;
  z-index: 1;
  font-weight: 100;
  display: none;
}

@media screen and (min-width: 540px) {
  .overlayArrow {
    display: block;
  }
}
