/* Reset Password css */
.resetPasswordContainer {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .resetPasswordContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .resetPasswordContainer label {
    display: block;
    margin-bottom: 10px;
  }
  
  .resetPasswordContainer input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .resetPasswordContainer button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .resetPasswordContainer button:hover {
    background-color: #0069d9;
  }
  
  .resetPasswordContainer .error {
    color: #ff0000;
    margin-top: 10px;
  }
  
  .resetPasswordContainer .message {
    color: #00ff00;
    margin-top: 10px;
  }
  