@media (max-width: 576px) {
    .team-area {
      padding-top: 0 !important;
    }
    .testimonialsList .box .info .name {
      font-size: 15px !important;
    }
    .testimonialsList .box .info .job {
      font-size: 14px !important;
    }
  
    .testimonialsList .box .info .stars i {
      font-size: 15px !important;
    }
  
    .testimonialsList .box p {
      font-size: 15px !important;
    }
  
    .testimonialsList .box .content .image {
      width: 65px !important;
      height: 65px !important;
    }
    .testimonialsList .owl-nav {
      display: none !important;
    }
    .testimonials {
      padding: 0 20px !important;
    }
    .owl-nav {
      display: none;
    }
    .courses-area .container {
      padding: 100px 10px 0 !important;
    }
    .single-slider .container {
      padding: 270px 30px 200px !important;
    }
    .hero__caption .btn {
      margin-bottom: 20px;
    }
    .properties__card {
      height: 690px !important;
    }
    .properties__footer .restaurant-name {
      font-size: 14px !important;
    }
    .properties__footer .price span {
      font-size: 18px !important;
      position: relative;
      top: -36px;
      margin-left: 20px;
    }
    .courseFooter a {
      padding: 10px;
    }
    .about-area1 {
      padding: 0 30px;
    }
    .servicesArea > .container > .row .col-lg-4 .single-services {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .servicesArea
      > .container
      > .row
      .col-lg-4
      .single-services
      .featuresCaption {
      padding-left: 0;
    }
    .servicesArea {
      margin-top: -220px;
    }
    .container {
      padding: 100px 30px 0;
      max-width: 100% !important;
      width: 100% !important;
    }
  }

  .testimonials {
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 0 40px;
  }
  
  .testimonials h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  
  .testimonials > p {
    text-align: center;
  }
  
  .testimonialsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .testimonialsList .box {
    background-color: #fff;
    border-radius: 3px;
    padding: 25px;
    margin-left: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
  }
  
  .testimonialsList .box i.quote {
    font-size: 20px;
    color: #17a2b8;
  }
  
  .testimonialsList .box .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .testimonialsList .box .info .name {
    font-size: 17px;
    font-weight: 600;
  }
  
  .testimonialsList .box .info .job {
    color: #17a2b8;
    font-size: 16px;
    font-weight: 500;
  }
  
  .testimonialsList .box .info .stars {
    margin-top: 2px;
  }
  
  .box .info .stars i {
    color: #17a2b8;
  }
  
  .testimonialsList .box .content .image {
    width: 75px;
    height: 75px;
    border: 3px solid #17a2b8;
    border-radius: 50%;
  }
  
  .box .content .image img {
    object-fit: cover;
    border-radius: 50%;
  
    width: 100%;
    height: 100%;
  }
  
  .testimonialsList .owl-nav {
    display: block;
  }